html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quotes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 2rem;
  z-index: 1;
  position: relative;
}

.quote-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px  ;
  padding: 2rem;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.quote-text {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.quote-author {
  text-align: right;
  font-style: italic;
  margin-top: 1rem;
  font-size: 1rem;
}
